.logo-wrapper {
    margin-top: 35px;
}

.main-logo {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
}

.logo-font{
    font-size: 25px;
    font-weight: 600;
    margin-top: -10px;
}

.container{
    max-width: 1200px;
}

.input-wrapper{
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
}

.input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    color: #a9aaaa;
    font-weight: 600;
    border: 2px solid #a9aaaa;
    border-radius: 8px;
}

.input:focus-visible {
    outline: green auto 1px;
}

.btn-success{
    background-color: #018786 !important;
    padding: 8px 25px !important;
    font-weight: 500 !important;
    font-size: 17px !important;
    margin-left: 2px;
}

.total-amount-wrapper{
    background-color: #018786 !important;
    padding: 30px !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;
}

.total-amount{
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 400;
}

.total-amount-2{
    font-size: 21px;
    font-weight: 600;
}

.list-wrapper-in{
    color: #3f4c6d;
}

.list-wrapper-out{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.list-style-left{
    margin-right: 15px;
    background-color: #018786;
    width: 5px;
}

.list-name{
    color: #3f4c6d;
    font-size: 24px;
    word-break: break-word;
}

.list-price{
    font-size: 21px;
    word-break: break-word;

}

.fa-pen-to-square{
    color: #018786;
    font-size: 21px;
    margin-right: 40px;
    cursor: pointer;
}

.fa-trash-can{
    color: #018786;
    font-size: 21px;
    cursor: pointer;
}

.dropdown-toggle{
    padding: 7px 14px !important;
    font-size: 16px !important;
}

.btn-header{
    font-weight: 500 !important;
    padding: 8px 14px !important;
    font-size: 15px !important;
}

.btn:hover {
    border: 0px !important;
}

.btn{
    border: 0px !important;
}

@media(max-width:450px){
    .logo-font {
        font-size: 22px;
    }
    .main-logo {
        font-size: 28px;
    }
    .input-wrapper {
        padding: 23px;
    }
    .total-amount{
        font-size: 19px;
    }
    .total-amount-2{
        font-size: 19px;
    }
    .list-name {
        font-size: 21px;
    }
    .list-price {
        font-size: 20px;
    }
    .fa-pen-to-square {
        margin-right: 30px;
    }
    .total-amount-wrapper {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
}

@media(max-width:400px){
    .logo-font {
        font-size: 20px;
    }
    .main-logo {
        font-size: 25px;
    }
    .input-wrapper {
        padding: 20px;
    }
    .total-amount{
        font-size: 19px;
    }
    .total-amount-2{
        font-size: 19px;
    }
    .list-name {
        font-size: 19px;
    }
    .list-price {
        font-size: 19px;
    }
    .fa-pen-to-square {
        margin-right: 20px;
    }
    .total-amount-wrapper {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }
}

@media(max-width:350px){
    .logo-font {
        font-size: 18px;
    }
    .main-logo {
        font-size: 22px;
    }
    .input-wrapper {
        padding: 20px;
    }
    .total-amount{
        font-size: 18px;
    }
    .total-amount-2{
        font-size: 18px;
    }
    .list-name {
        font-size: 18px;
    }
    .list-price {
        font-size: 18px;
    }
    .fa-pen-to-square {
        margin-right: 20px;
    }
    .total-amount-wrapper {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }
}